.example-spacer {
  flex: 1 1 auto;
}
.fundo {
  background-color:#004AAD;
  height:100px;
}

.icone-branco {
  color:white;
}

.titulo{
  padding-left:25px;
  
}

img {
  width:200px;
  margin-left:-30px;
}

.container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  padding: 16px;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.mensagem {
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin: 0;
}



