<div class="principal">

  <h2 class="titulo">CADASTRO DE MATÉRIAS</h2>
  <p class="subtitulo">INFORME OS DADOS PARA CONTINUAR</p>

  <div class="formulario">

    <mat-form-field appearance="outline">
      <mat-label>Nome da matéria</mat-label>
      <input matInput [(ngModel)]="novaMateria.nome" placeholder="Ex: Matemática">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ID da matéria</mat-label>
      <input matInput [(ngModel)]="novaMateria.id" placeholder="Ex: MAT01">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Professor</mat-label>
      <mat-select [(ngModel)]="novaMateria.professorId">
      <mat-option *ngFor="let professor of professores" [value]="professor.id">
      {{ professor.nome }}
    </mat-option>
    </mat-select>
  </mat-form-field>


    <button mat-raised-button color="primary" class="btn-salvar" (click)="salvarMateria()">
      SALVAR
    </button>
  </div>

  <h3 class="titulo-lista">Matérias CADASTRADAS</h3>

  <div class="lista" *ngIf="materias.length > 0; else semMaterias">

    <div class="linha" *ngFor="let materia of materias; let i = index">
      <span>
        <strong>{{ materia.nome }}</strong> — 
        ID: {{ materia.id }} —
        Professor: {{ materia.professorNome }}
      </span>
      <div class="acoes">
        <button mat-stroked-button color="primary" (click)="editarMateria(materia)">EDITAR</button>
        <button mat-stroked-button color="warn" (click)="excluirMateria(i)">EXCLUIR</button>
      </div>
    </div>

  </div>

  <ng-template #semMaterias>
    <p class="sem-itens">Nenhuma matéria cadastrada ainda.</p>
  </ng-template>

</div>
